<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="base :: head('collaborators')"></head>
    <body>
        <header th:replace="base :: header"></header>
        <nav>
            <ul>
                <li><a th:href="@{/projects}">Projects</a></li>
                <li class="selected"><a th:href="@{/collaborators}">Collaborators</a></li>
                <li><a th:href="@{/roles}">Roles</a></li>
            </ul>
        </nav>
        <section>
            <div class="container wrapper">
                <form th:action="@{/collaborators}" method="post" th:object="${collaborator}">
                    <div th:replace="base :: flash"></div>
                    <h2>Manage Collaborators</h2>
                    <ul class="checkbox-list">
                        <li th:each="c : ${collaborators}" >
                            <a th:text="${c.name}" class="primary link" th:href="@{|/collaborators/${c.id}|}"></a>
                        </li>
                    </ul>
                    <div class="actions add-new-collaborator" th:classappend="${#fields.hasErrors('name')}? 'error' : ''">
                        <input type="text" th:field="*{name}" placeholder="Name...">
                        <div class="custom-select">
                            <span class="dropdown-arrow"></span>
                            <select th:field="*{role.id}">
                                <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}">Developer</option>
                            </select>
                        </div>
                        <button class="button" type="submit">Add</button>
                        <div th:if="${#fields.hasErrors('name')}" class="c-input-error" th:errors="*{name}" ></div>
                    </div>
                </form>
            </div>
        </section>
    </body>
</html>