<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="base :: head('projects')"></head>
    <body>
        <header th:replace="base :: header"></header>
        <nav>
            <ul>
                <li class="selected"><a th:href="@{/projects}">Projects</a></li>
                <li><a th:href="@{/collaborators}">Collaborators</a></li>
                <li><a th:href="@{/roles}">Roles</a></li>
            </ul>
        </nav>
        <section>
            <div class="container wrapper">
                <div th:replace="base :: flash"></div>
                <div class="project-list">
                    <div th:each="project : ${projects}" class="project">
                        <h2><a th:href="@{|/projects/${project.id}|}" th:text="${project.name}">Website Project</a></h2>
                        <p th:text="${project.desc}">Design and build a custom website</p>
                        <p th:text="${#dates.format(project.date, 'dd-MMM-yyyy')}"></p>
                        <span class="tag active" th:classappend="${#strings.equals(project.status, 'active')}? 'active' : 'archived'" th:text="${project.status}">Active</span>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>